* {
  font-family: "Proza Libre", sans-serif;
}

.bg-color {
  background-color: #562b81;
  color: white;
}

body {
  background-color: #f0f0f0;
}

.row {
  display: flex;
}

.image {
  max-width: 100%;
  margin-bottom: 10px;
}

.button {
  background-color: #562b81;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  width: 60px;
  height: 33px;
}

.button:hover {
  cursor: pointer;
}

.move-button {
  display: flex;
  justify-content: right;
}

textarea {
  margin-top: 5px;
}

input textarea {
  margin-top: 5px;
  font-family: "Open Sans", sans-serif;
}

.textbox {
  border: 2px solid lightgray;
  margin-bottom: 8px;
  margin-left: 1px;
  padding-bottom: 10px;
  width: 100%;
}

input:hover {
  outline-color: #562b81;
}

textarea:hover {
  outline-color: #562b81;
}

.move-button2 {
  display: flex;
  justify-content: space-between;
}

.image2 {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.button2 {
  background-color: #562b81;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  width: 60px;
  height: 33px;
  margin-top: 30px;
  text-decoration: none;
  text-align: center;
}

.button2:hover {
  cursor: pointer;
}

.color-and-move {
  color: white;
  text-decoration: none;
  font-size: larger;
}

.navigation h2 {
  display: inline-block;
  margin-right: 1rem;
}
