* {
  font-family: "Proza Libre", sans-serif;
}

.bg-color {
  background-color: #562b81;
  color: white;
}

body {
  background-color: #f0f0f0;
}

.row {
  display: flex;
}

.image {
  width: 100%;
  margin-bottom: 10px;
}

.button {
  background-color: #562b81;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  width: 60px;
}

.move-button {
  display: flex;
  justify-content: right;
}

textarea {
  margin-top: 5px;
}

input textarea {
  margin-top: 5px;
  font-family: "Open Sans", sans-serif;
}

.textbox {
  border: 2px solid lightgray;
  margin-bottom: 8px;
  margin-left: 1px;
  padding-bottom: 10px;
  width: 100%;
}

input:hover {
  outline-color: #562b81;
}

textarea:hover {
  outline-color: #562b81;
}
